@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 243, 244, 246;
  --background-rgb: 3, 7, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  transition: background-color 0.2s ease, color 0.2s ease;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

